section {
    background-color: #FBF7E3;
    border-radius: 60px;
    height: 100px;

}

section div {
    list-style-type: none;
    color: #612705;
    padding-top: 15px;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
}

p {
    background-color: #F3DF86;
    border-radius: 20px;
    padding: 10px 10px;
}

body {
    background-color: red;
}